{% extends 'base.html' %}



{% block content %}

<div class="container mt-3">
<h2> Add New Client</h2>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" class = "btn btn-outline-success">
    <input type="reset" value="Reset" class = "btn btn-outline-info">
    <a href="{% url 'list_client' %} " class = "btn btn-outline-warning">Cancel</a>

</form>

<script>
    $("input,select,textarea").not(':submit,:reset').each(function(){
        $(this).addClass("form-control");
    })

    
</script>
</div>
{% endblock content %}