{% extends 'base.html' %}



{% block content %}

<div class="container mt-3">
<h2> Edit Account master</h2>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" class = "btn btn-outline-success">
    <input type="reset" value="Reset" class = "btn btn-outline-info">
    <a href="{% url 'list_trading_account' %} " class = "btn btn-outline-warning">Cancel</a>

</form>

<script>
    $("input,textarea").not(':submit,:reset').each(function(){
        $(this).addClass("form-control");
    })
    $("select").each(function(){
        $(this).addClass("form-select")
    })
</script>
</div>
{% endblock content %}