{% extends 'base.html' %}



{% block content %}

<div class="container mt-3">

<div class="row mt-3">
    <div class="col-sm-12 col-lg-4">
        <label for="">Start Date</label>
        <input type="date" name="start_date" id="start_date" class = "form-control">
    </div>
    <div class="col-sm-12 col-lg-6">
        <label for="">End Date</label>
        <input type="date" name="end_date" id="end_date" class = "form-control">
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12 col-lg-6">
        <label for="">Account Number</label>
        <select name="account_number" id="account_number" class = "form-select">
            
            {% for account in account_details %}
                <option value="{{account.pk}}">{{account.account_number}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12 col-lg-6 mt-4">
        <button class="btn btn-danger" id = 'submit_btn'> Submit </button>
       <a href="{% url 'dashboard' %}" class = "btn btn-warning"> Dashboard</a>
    </div>
</div>
<hr class="br-danger border-2 border-top border-danger">
<section class="report_section" id = "report_section"></section>



</div>

<script>
    function calculate_commission(){
        var commission = $('#commission').html();
        var final_amount = $('#final_amount').html();
        var net_amount ;

        net_amount = final_amount - (final_amount*commission)/100;

        $('#net_amount').val(net_amount);
        $('#net_amount').html(net_amount);
        
    }
    function convertHTMLToPDF() {
        var doc = new jsPDF();
        var elementHTML = $('#report_section').html();

        doc.fromHTMl(elementHTML,15,15,{
            width :170,

        });
        doc.save('account_report.pdf');
    

}

    $('button').on('click',function(e){
        var start_date = $('#start_date').val();
        var account_number = $('#account_number').val();
        var end_date = $('#end_date').val();

       
        $.ajax({
            url: '{% url "report" %}',
            method:"get",
            data:{
                'account_number':account_number,
                'start_date':start_date,
                'end_date':end_date,
                
            },

            success:function(data){
                console.log(data);
                
                $('#report_section').html(data);
                calculate_commission();
                convertHTMLToPDF();
                }
            }
        );
 
    
    }); 
  



</script>



{% endblock %}