    
     
<table class = "table table-striped" id = "profit_table">

    <thead>
        <tr>
            <th>Date</th>
            <th>Profit</th>
           
        </tr>
    </thead>
    <tbody>
        {% for data in data_filtered %}
        <tr>
            <td>{{data.entry_date}}</td>
            <td>{{data.profit}}</td>
           
            
           
        </tr>
        {% endfor %}
    </tbody>

</table>

<script>
    $(document).ready( function () {
    $('#profit_table').DataTable();
} );
</script>
    
 